---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import locations from '../data/locations';
import MapComponent from '../components/Map';
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FVT, Fun Virtual Travel</title>
  <link rel="stylesheet" href="../styles/global.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
</head>
<body class="max-h-screen bg-blue-600">
  <Header />
  <main class="container p-4 mx-auto">
    <MapComponent locations={locations} client:idle/>
  </main>
  <Footer />
</body>
</html>
